Body{
   text-align: center;
   background-image:url(https://images.unsplash.com/photo-1528484701073-2b22dc76649e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80) ;
   margin: O;
   background-attachment: fixed;
   background-size: cover;

} 


